#### 1- Kütüphanelerin Yüklenmesi

In [1]:
import numpy as np ## numpy kütüphanesinin import edilmesi
import pandas as pd ## pandas kütüphanesinin import edilmesi
import seaborn as sns ## seaborn kütüphanesinin import edilmesi
import matplotlib.pyplot as plt ## matplotlip kütüphanesinin import edilmesi
import datetime as dt ## datetime kütüphanesinin import edilmesi
pd.pandas.set_option('display.max_columns', None) ## dataframein tüm sutunlarının görülmesi için gereken kod

### 2- Verisetinin Yüklenmesi

Mounted at /content/drive

In [ ]:
### Veri Çok fazla olduğundan biraz zaman alabilir.
data = pd.read_excel("C:/Users/Gülseli/Downloads/MarketSales.xlsx")

In [4]:
data.head()

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.00,2.00,1.85,52.0,Kocaeli Subesi,Eyüp CİNE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRİTE,İÇECEK,GAZLI İÇECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,İlhan ÖRENLİ,Antalya,Akdeniz,36.8841,30.7056,131464,İsmet ŞINGIR,NaN,NaN,İÇECEK,ÇAY KAHVE,SEKER TATLANDIRICI,2017-01-07 11:04:34,2017-01-07 11:05:37,E
2,11335.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
3,11336.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
4,10115.0,12808.0,FALIM SAKIZ 5LI CILEK,18005,2017-01-05,1.0,0.40,0.40,0.37,41.0,İzmir Subesi,Gülten IŞLAK,İzmir,Ege,38.4189,27.1287,447336,Habibe AYSAN,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-06 14:00:30,2017-01-06 14:01:03,K

In [5]:
data.head(2)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.00,2.00,1.85,52.0,Kocaeli Subesi,Eyüp CİNE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRİTE,İÇECEK,GAZLI İÇECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,İlhan ÖRENLİ,Antalya,Akdeniz,36.8841,30.7056,131464,İsmet ŞINGIR,NaN,NaN,İÇECEK,ÇAY KAHVE,SEKER TATLANDIRICI,2017-01-07 11:04:34,2017-01-07 11:05:37,E

### 3- Verisetinin Orjinalınde değişiklik gelmemesei için veriyi başka bir değişkene atayın

### 4-Verisetinin Boyutlarına bulunuz

### 5-Verisetinin Sutunlarının İsimlerini Yazdırın

### 6- Veri setinin bilgilerine ulaşılması

### 7- Veri Setinde Boş Değer Varmı sorgulanması

### 8- Verisetindeki Sutunlarda Toplam Kaç Adet Değer Var Bulunuz

### 9- Verisetinde Toplam Kaç Adet Değer Var Bulunuz

### 10- Verisetinde Boş Değer Olan Sutunların İsimlerini yazdıralım

### 11-Verisetinin Sutunlarında Kaç farklı Tip var Onu Bulalım

### 12- Verisetinin Sutunlarındaki Eşsiz Tipler Nelerdir Onlara Bakalım

### 13-Verisetinin İlk 5 Satırını Yazdıralım

### 14-Verisetinin son 7 Satırını Yazdıralım

### 15- Verisetinde her satır için AMOUNT PRICE LINENETTOTAL sutunlarına ait bilgileri yazdıralım

### 16- Verisetinde LINENETTOTAL sutunda 15 den büyük olan satırları yazdıralım

### 17- Verisetinde BRANCH ı Balıkesir Subesi olan satırları bulalım